@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');   

body{
    background-color: #fedefe;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    margin: 0;
}

header{
    align-items: center;
    background-color: #53005e;
    color: aliceblue;
    display: grid;
    grid-column: 1/4;
    justify-items: center;
}

header>h1{
    font-family: "Pacifico", cursive;
    margin: 10px;
    letter-spacing: 0.2em; /* Agrega un espacio equivalente a 0.2 veces el tamaño de la fuente */
}

main{
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: "Sour Gummy", sans-serif;
    margin-bottom: 10px;
}

.saga{
    align-items: center;
    color: rgb(83, 0, 94);
    display: flex;
}

.saga>span{
    margin: 15px;
}

.saga>h2{
    font-size: 2em;
}

.libros{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
}

.libros>img{
    width: 250px; /* Ajusta la imagen al contenedor*/
    border-radius: 15px;
}

.formulario{
    align-items: center;
    color: rgb(83, 0, 94);
    display: grid;
    grid-column: 1/4;
    font-family: "Sour Gummy", sans-serif;
    gap: 5px;
    justify-content: center;
    margin-bottom: 20px;
}

.formulario>h2{
    margin: 5px;
}

form{
    align-items: center;
}

button{
    font-size: 15px;
}

footer{
    align-items: center;
    background-color: rgb(83, 0, 94);
    color: #f0f8ff;
    display: flex;
    font-family: "Sour Gummy", sans-serif;
    grid-column: 1/4;
    justify-content: space-around;
    width: 100%;
}

.redesSociales{
    align-self: center;
}

.redesSociales>a>img{
    width: 30px;
    height: 30px;
}

/*Ajustes para moviles*/
@media (max-width: 767px) {
    header{
        text-align: center;
    }

    header>h1{
        font-size: 14px;
    }

    .saga{
        font-size: 9px;
    }
    
    .saga>span{
        font-weight: bold;
        font-size: 18px;
        margin: 8px;
    }

    .libros{
        gap: 10px;
    }

    .libros>img{
        width: 125px;
        border-radius: 15px;
    }

    .formulario{
        align-items: center;
    }
    
    .formulario>h2{
        font-size: 16px;
    }
    
    form{
        font-size: 15px;
        margin: 0 auto;
    }

    #nombre{
        font-size: 12px;
    }

    #apellidos{
        font-size: 12px;
    }

    #email{
        font-size: 12px;
    }

    #boton{
        align-items: center;
        font-size: 12px;
        margin: 0 auto;
    }

    footer{
        text-align: center;
        padding-top: 4px;
    }

    .asignatura{
        font-size: 10px;
    }

    .autor{
        font-size: 10px;
    }

    .redesSociales>a>img{
        width: 20px;
        height: 20px;
    }
}

/*Ajustes para tablets*/
@media  (min-width: 768px) and (max-width:1023px) {
    header>h1{
        font-size: 1.7em;
    }

    .saga{
        font-size: 15px;
    }
    
    .saga>span{
        font-weight: bold;
        font-size: 28px;
        margin: 12px;
    }

    .libros{
        gap: 15px;
    }

    .libros>img{
        width: 180px;
        border-radius: 15px;
    }

    .formulario{
        align-items: center;
    }
    
    .formulario>h2{
        font-size: 30px;
    }
    
    form{
        font-size: 25px;
        margin: 0 auto;
    }

    #nombre{
        font-size: 18px;
    }

    #apellidos{
        font-size: 18px;
    }

    #email{
        font-size: 18px;
    }

    #boton{
        align-items: center;
        font-size: 20px;
        margin: 0 auto;
    }

    footer{
        text-align: center;
        padding-top: 3px;
    }

    .redesSociales>a>img{
        width: 40px;
        height: 40px;
    }
    
}

/*Ajustes para laptop*/
@media (min-width: 1024px) and (max-width: 1439px){
    header>h1{
        font-size: 3em;
    }

    .saga{
        font-size: 25px;
    }

    .saga>span{
        font-weight: bold;
        font-size: 50px;
    }

    .libros{
        gap: 15px;
    }

    .libros>img{
        width: 240px;
        border-radius: 15px;
    }

    .formulario{
        align-items: center;
    }
    
    .formulario>h2{
        font-size: 35px;
    }

    form{
        font-size: 30px;
        margin: 0 auto;
    }

    footer{
        text-align: center;
        padding-top: 8px;
        padding-bottom: 5px;
    }

    .asignatura{
        font-size: 30px;
    }

    .autor{
        font-size: 30px;
    }

    .redesSociales>a>img{
        width: 60px;
        height: 60px;
    }

}

/*Ajustes para Desktop*/
@media (min-width: 1440px) {
    header>h1{
        font-size: 4em;
    }

    .saga{
        font-size: 40px;
    }
    
    .saga>span{
        font-weight: bold;
        font-size: 70px;
    }

    .libros{
        gap: 15px;
    }

    .libros>img{
        width: 295px;
        border-radius: 15px;
    }

    .formulario{
        align-items: center;
    }
    
    .formulario>h2{
        font-size: 50px;
    }
    
    form{
        font-size: 45px;
        margin: 0 auto;
    }

    #nombre{
        font-size: 30px;
    }

    #apellidos{
        font-size: 30px;
    }

    #email{
        font-size: 30px;
    }

    #boton{
        align-items: center;
        font-size: 35px;
        margin: 0 auto;
    }

    footer{
        text-align: center;
    }
    
    .asignatura{
        font-size: 40px;
    }
    
    .autor{
        font-size: 40px;
    }
    
    .redesSociales>a>img{
        width: 80px;
        height: 80px;
    }

}
